.galery {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    .gallery__item {
      max-width: 360px;
      a {
        display: flex;
        flex-direction: column;
        max-height: 336px;
        img {
          min-height: 240px;
        }
      }
      .gallery-item__description{
        background: #f1ebeb;
        display: flex;
        padding-top: 24px;
        li {
          font-size: 15px;
        }
      }
    }
  }
}
